@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

.header {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 57, 0.83) 0%,
    rgba(151, 255, 150, 0.85) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

header {
  font-size: larger;
}

#imgHeader {
  width: 3%;
  margin: 1%;
}

.bodyInformacion {
  padding: 20px;
}

.infoGralImg {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.textoInf {
  flex: 1;
  margin-right: 2%;
}

#imgGral {
  max-width: 300px;
  border-radius: 10px;
}

.galeriaImagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  justify-content: center;
}

.imgMedio {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#autor {
  border: 1px solid black;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

#imgAutor {
  max-width: 200px;
  margin: 10px 0;
}

footer {
  background: linear-gradient(
    90deg,
    rgba(179, 255, 0, 0.79) 0%,
    rgba(147, 252, 146, 0.85) 100%
  );
  padding: 10px;
}

#contacto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactameW {
  margin-right: 10px;
}

#imgWpp {
  width: 30px;
}
